@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import "../../sass/mediaQueries";
@include logoMediaQueries;

.containerLight {
    background: rgb(80, 80, 80);
    margin-right: 0.5%;
    margin-left: 0.5%;
    margin-bottom: 0.5%;
    border-radius: 5px;
}
.containerDark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.63);
    margin-right: 0.5%;
    margin-left: 0.5%;
    margin-bottom: 0.5%;
    border-radius: 5px;
}
#containerTitle {
    font-family: 'Libre Baskerville', serif;
}
.closeButton {
    width: 27%;
    background: darkred;
    color: white;
    font-weight: bold;
    display: block;
    margin: 2% auto auto;
    border: inset grey 2px;
    border-radius: 5px;
    transform: scale(1.05);
    box-shadow: darkred 0 0 0 1px;
}
.closeButton:active {
    transform: scale(1);
    box-shadow: black -1px -1px 2px,
    darkgrey 1px 1px 2px;
}
.closeButton:hover {
    box-shadow: darkred 0 0 0 3px;
    transition: 0.3s;
}
#fontText {
    font-family: 'Libre Baskerville', serif;
}
.logo {
    width: 25%;
    display: block;
    margin: 5px auto auto;
    filter: invert(0.2) blur(0.5px) sepia(0.5);
}
.openButton {
    width: 27%;
    background: lightgreen;
    font-weight: bold;
    display: block;
    margin: 2% auto auto;
    border: inset grey 2px;
    border-radius: 5px;
    transform: scale(1.05);
    box-shadow: lightgreen 0 0 0 1px;
}
.openButton:active {
    transform: scale(1);
    box-shadow: black -1px -1px 2px,
    darkgrey 1px 1px 2px;
}
.openButton:hover {
    box-shadow: lightgreen 0 0 0 2px;
    transition: 0.3s;
}
