@import "../sass/mediaQueries";
@include logoMediaQueries;
#logo{
  width: 15%;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  color: white;
  filter: invert(0.2) blur(0.5px) sepia(0.5);
}
.list{
  list-style: none;
}
.listDot::before{
  content: "~";
  font-size: 1.2em;
  color: red;
  margin-left: -1em
}
.title{
  color: #999;
  font-size: 20px;
  font-weight: 700;
  line-height: 3;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  text-align: center;
}