@import "../../sass/mixins";
@include carouselMediaQueries;
.container {
    width: 60%;
    margin: 20px auto auto;
}
.image {
    display: block;
    width: 100%;
    height: 60vh;
    border: double 10px grey;
    border-radius: 20px;
}